{% load staticfiles %}
<html>
    <head>
        <title>Take care of your old man</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    	{% if user.is_authenticated %}
	        <div class="header">
	        	<a class="homebtn" href="{% url 'home' %}">Home</a>
	            <h1>Take care of your old man</h1>
	        </div>	
			<label>I want to use</label>
			 <form action="{%url 'send_sqs'%}" method="get">
				  <input type="text" name="q"><br>
				  <button type="submit" value="Send request"></button>
			</form>  
			<label>as profile picture</label>
			<div class="content">
				<h2>Schedule old man life</h2>
				<img id="profile"/>
				<script type="text/javascript">
					var photo = document.querySelector("#profile");
					var a = "{{iamge}}";
					if(a !== null && a!== ""){
						photo.setAttribute("src",a)
					}
				</script>
				<hr>
				<h2 style="color:red">Some activity about your old man</h2>
			{% for post in posts %}
				<h2>{{ post.title }}</h2>
				<p>{{ post.text|linebreaksbr }}</p>
				<p>published: {{ post.published_date }}</p>
			{% endfor %}
			<a href="{%url 'post_new'%}">Add new Posts</a>
		{% else %}
			<div class="header">
			<a href="{% url 'signin' %}">Please log in</a>
			</div> 
		{% endif %}
	</body>
</html>
